<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/easeljs/lib/easeljs.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2/lib/eventemitter2.min.js"></script>
    <script type="text/javascript" src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <script type="text/javascript" src="mjpegcanvas.min.js"></script>
    <script src="./libs/three.min.js"></script>
    <script src="./libs/ColladaLoader.js"></script>
    <script src="./libs/ColladaLoader2.js"></script>
    <script src="./libs/STLLoader.js"></script>
    <script src="./libs/ros3d.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ros2d/build/ros2d.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <style>
        #divCamera,
        #div3DViewer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .camera-section,
        .model-section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .camera-section button {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-3 text-center">
                <div class="card mt-2">
                    <div class="card-body">
                        <h3>Connection status</h3>
                        <p class="text-danger" v-if="!connected">Not connected!</p>
                        <p class="text-success" v-else>Connected!</p>
                        <label>ROSBridge address</label>
                        <br>
                        <input type="text" v-model="rosbridge_address" />
                        <br><br>
                        <button :disabled="loading" class="btn btn-danger" @click="disconnect"
                            v-if="connected">Disconnect!</button>
                        <button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h4>Logs</h5>
                    </div>
                    <div class="card-body">
                        <p v-for="log in logs">{{ log }}</p>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <h3>Final Project</h3>
                <div class="row">
                    <div class="col-5">
                        <div class="card mt-2 camera-section">
                            <div class="card-header">
                                <h4>Camera</h4>
                            </div>
                            <div class="card-body" id="divCamera"></div>
                            <button v-if="connected" class="btn btn-primary" @click="changeCameraTopic">Vision
                                On/Off</button>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="card mt-2 model-section">
                            <div class="card-header">
                                <h4>Pick and Place</h4>
                            </div>
                            <button v-if="connected" class="btn btn-primary" @click="publish">Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'main.js?v=11.' + Date.now();
        document.head.appendChild(script);
    </script>
</body>

</html>